* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

#sign-in,
#sign-up,
#sign-up2,
#cdelivery,
#logout,
#signup {
  font-size: 14px;
  border-radius: 50px;
  color: white;
  background-color: #1b1464;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
  padding: 10px 30px;
}

#logout {
  border-radius: 7px;
  background-color: red;
}

#cdelivery {
  border-radius: 7px;
  background-color: green;
}

#logout:hover,
#cdelivery:hover {
  opacity: 0.8;
}

.dash-content {
  margin: 0;
  display: block;
  background-color: white;
  padding: 15px;
  border-top: solid 2px #1b1464;
}

.dash-section {
  display: -webkit-flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.right {
  float: right;
  width: 50%;
  padding-right: 100px;
  align-self: center;
  text-align: right;
}

.left {
  float: left;
  width: 50%;
  padding-left: 100px;
  text-align: left;
}

img.home {
  width: 100%;
  height: auto;
}

#sign-up2 {
  background-color: orangered;
  border: none;
  border-radius: 10px;
}

section.left>h1 {
  margin: 0;
  font-size: 2.8em;
  padding-bottom: 10px;
  color: #1b1464;
  padding-top: 100px;
}

section.left>p {
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 30px;
}

.main-footer,
.dash-footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #1b1464;
  text-align: center;
  font-size: 14px;
  padding: 30px;
}

.main-footer>p {
  margin: 0;
  color: white;
  align-self: center;
}

/* Style Login and Signup Forms */

form {
  margin: auto;
  max-width: 500px;
  height: auto;
  border: 3px solid #f1f1f1;
  border-radius: 12px;
  margin-bottom: 30px;
}

.login-form {
  margin: auto;
  max-width: 500px;
  height: auto;
  background-color: white;
  border: 1px solid #f1f1f1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.title,
.title2 {
  text-align: center;
}

.title {
  color: #1b1464;
}

#signup {
  margin-right: 100px;
}

.logo2 {
  width: 150px;
  height: auto;
  padding: 30px;
}

#submit {
  background-color: #1b1464;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: orangered;
  border: none;
  cursor: pointer;
}

.cancel-btn,
.signupbtn {
  background-color: #1b1464;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;
}

.cancel-btn {
  padding: 14px 20px;
  background-color: orangered;
}

.cancelbtn:hover,
.cancel-btn:hover,
.signupbtn:hover,
#submit:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
}

.container {
  padding: 20px;
}

.foot-container {
  padding: 16px;
  background-color: #f1f1f1;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#link {
  color: dodgerblue;
  text-decoration: none;
  float: right;
}

.main-body {
  background-color: #E8E8E8;
  padding: 20px;
}

.login-footer {
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #1b1464;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  color: white;
}

/* Style User Dashboard */

.dash-header {
  margin: 0;
  background-color: white;
}

.dash-left {
  float: left;
  width: 20%;
  text-align: left;
  padding-right: 20px;
}

.dash-right {
  float: right;
  width: 80%;
  text-align: center;
  padding: 20px 20px;
  background-color: rgb(223, 223, 223);
}

.menu {
  width: 100%;
}

.menu a {
  background-color: rgb(0, 31, 126);
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-weight: 550;
  font-size: 1.1em;
  border-radius: 0 30px 30px 0;
  text-align: center;
  margin-bottom: 5px;
}

.menu a:hover {
  opacity: 0.8;
}

.menu a.active {
  background-color: green;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid rgb(102, 102, 102);
}

.orders-tab {
  overflow-y: scroll;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#delivered,
#transit,
#orders {
  text-align: right;
  background-color: white;
}

.heading {
  font-size: 1.5em;
  padding-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.dash-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dash-footer>p {
  margin: 0;
  color: white;
  align-self: center;
}

#delivered,
#transit,
#orders {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.head {
  text-align: center;
}

#details {
  margin: 0px 40px;
}

/* Style Delivery Order Form */

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.col-100,
.col-75,
.col-50,
.col-25 {
  padding: 0px 15px;
}

.order-container {
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  align-content: center;
}

input[type=text],
input[type=number],
input[list=sizes],
input[type=date],
input[type=time] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  text-indent: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea:placeholder-shown {
  font-family: sans-serif;
  text-indent: 10px;
}

input[type=date],
input[type=time] {
  font-family: sans-serif;
  text-indent: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn,
.cancel-order {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover,
.cancel-order:hover {
  background-color: #45a049;
}

.order-footer>p {
  text-align: center;
  padding: 20px;
}

fieldset {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px 20px;
}

/* Style Orders Page */

.icons {
  float: right;
  font-size: 25px;
  padding-left: 30px;
}

.fa-trash,
.fa-edit,
.fa-times {
  color: rgb(0, 31, 126);
}

#red {
  color: red;
}

#green {
  color: rgb(8, 163, 8);
}

.order-row:hover {
  background-color: rgb(223, 223, 223);
  box-shadow: 0px 1px 8px 0px black;
  cursor: pointer;
}

.orders-header,
.head {
  background-color: rgb(0, 29, 116);
  color: white;
}

/* ===================================
              Media query 
  ================================== */

/* Landscape view */
@media screen and (min-width: 768px) {

  .main-header {
    margin: 0;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #1b1464;
  }
  
  .main-header a:first-child {
    margin-right: auto;
    margin-left: 100px;
  }
  
  .main-header a:first-child+a+a {
    margin-right: 100px;
    margin-left: 20px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }

  .section-one {
    position: absolute;
    display: -webkit-flex;
    flex-direction: row;
  }

  .right {
    padding-top: 70px;
  }

  .left {
    padding-top: 50px;
  }
} 

/* Portrait view */
@media screen and (max-width: 768px) {

  .main-header {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b1464;
    padding: 20px;
  }

  #sign-up {
    display: none;
  }

  #sign-in {
    border: none;
  }
  
  .main-header a:first-child+a+a {
    display: block;
  }

  .logo {
    width: 80px;
    height: auto;
  }

  .section-one {
    display: block;
  }

  .right {
    width: 100%;
    padding: 20px;
  }

  .left {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  section.left>h1 {
    margin: 0;
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #1b1464;
  }
  
  section.left>p {
    margin: 0;
    font-size: 1.2em;
    padding-bottom: 30px;
  }

  .main-footer>p {
    margin: 0;
    color: white;
    align-self: center;
    font-size: 12px;
  }

  .login-footer {
    font-size: 12px;
  }

  #signup {
    margin-right: 5px;
  }

}
